@model  DAL.ViewModel.TOViewModel

@{
    ViewBag.Title = "Просмотр TO";
}

<h2>Просмотр TO</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TOName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    <table class="table">
        <tr>
            <th>
                Деталь
            </th>
            <th>
                Количество
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model.TODetails)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DetailName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("Вернуться к списку TO", "Index")
</p>